<%- include('partials/header') -%>
  <div >
    <form action="/dictionary" method="post" >
        <input type = "text" id = "word" name = "word" >
        <button type = "submit" >add a word</button>
    </form>
    <form action="/dictionary/delete" method="post" >
        <input type = "text" id = "word" name = "word" >
        <button type = "submit" >delete a word</button>
    </form>
    <table>
        <th scope="col">word</th>
        <th scope="col">  </th>
        <% for(var i=0; i<list.length; i++) {%>
        <tr>
          <td> <%= list[i] %> </td>
        </tr>

        <% } %>
    <table>
  </div>  
<%- include('partials/footer') -%>