<%- include('partials/header') -%>
  <div >
    <table>
      <tr>
        <form action="/dictionary" method="post" >
          <td>
            <input type = "text" id = "word" name = "word" >
          </td>
          <td>
            <button type = "submit" >add a word</button>
          </td>
        </form>
        <td>
          <a href="/">return home</a>
        </td>
      </tr>
      <tr>
        <form action="/dictionary?_method=DELETE" method="post" >
          <td>
            <input type = "text" id = "word" name = "word" >
          </td>
          <td>
            <button type = "submit" >delete a word</button>
          </td>
        </form>
      </tr>
    </table>
    <table>
        <th scope="col">word</th>
        <th scope="col">  </th>
        <% for(var i=0; i<list.length; i++) {%>
        <tr>
          <td> <%= list[i] %> </td>
        </tr>

        <% } %>
    <table>
  </div>  
<%- include('partials/footer') -%>