<%- include('partials/header') -%>

<main >
    <form action="/story" method="POST" enctype="multipart/form-data" >
        <input type = "text" id = "story" name ="story">
        <button type ="submit">Submit this sample</button>
    </form>

    <a href="/dictionary"> See dictionary</a>
    <ul>
        <% for(var i=0; i<activities.length; i++) {%>
            <li> <%= words[i]%></li>
    </ul>
</main>

    

<%- include('partials/footer') -%>