<%- include('partials/header') -%>
<div >
  <table>
    <form action="/story" method="post">
      <tr><td><label for "story">New Story</label></td></tr>
      <tr><td><textarea rows="5" cols="50" type ="text" id="story" name="story"></textarea></td></tr>
      <tr><td><button type ="submit">evaluate story</button></td></tr>
    </form>
  </table>
  <table>
    <tr>
      <th scope="col">unmatched words</th>
      <th scope="col">closest dictionary match</th>
    </tr>
  <%  Object.keys(unmachedWords).forEach(function (key) { %>
    <tr>
      <td> <%= key %> </td>
      <td> <%= unmachedWords[key] %> </td>
    </tr>
  <% }) %>

  </table>
</div>

<a href="/">return home</a>
<a href="/dictionary"> see dictionary </a>
<%- include('partials/footer') -%>

