body{
    margin: 2%;
}
table {
    margin: 20px auto;
}
td {
    text-align: center;
    padding: 10px 15px;
}

.tm-text-left { text-align: left; }

th {
    color: #333333;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
}

tr:nth-child(odd) { background-color: #e5e8ed; }